[Desktop Entry]
Name=Silk Server Settings
Exec=silk-server-settings
Icon=org.silkos.ServerSettings
Type=Application
Categories=System;Settings;
StartupNotify=true
